<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fruit Recommendation</title>
</head>
<body>
    <h1>Welcome to Fruit Recommendation</h1>
    <form action="/recommend_fruits" method="post">
        <label for="party_on_weekends">Do you go out to party on weekends?</label>
        <input type="text" name="party_on_weekends" id="party_on_weekends"><br><br>

        <label for="flavors_liked">What flavors do you like?</label>
        <input type="text" name="flavors_liked" id="flavors_liked"><br><br>

        <label for="texture_disliked">What texture you don't like?</label>
        <input type="text" name="texture_disliked" id="texture_disliked"><br><br>

        <label for="price_range">What price range will you buy drink for?</label>
        <input type="number" name="price_range" id="price_range"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
